{% extends "bootstrap/base.html" %}

{% block title %}
    Meu projeto
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{ url_for('main.add_role') }}">Roles</a>

                            <a href="{{ url_for('main.list_user') }}">Users</a>

                            <a href="{{ url_for('auth.logout') }}">
                                Log out
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for("auth.login") }}">
                                Log in
                            </a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
            
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}